.container {
  display: flex;
  flex-direction: column;

}

.box {
  height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form#team_selection label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

#button {
  align-self: center;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

#button:hover {
  background-color: #003cff;
}

#remove-button {
  align-self: center;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

#remove-button:hover {
  background-color: #93031e;
}

#stats_table {
  margin-top: 2rem;
  padding: 1rem;
}

.data-table table {
  border-collapse: collapse;
  width: 100%;
}

.data-table tr {
  border-bottom: 1px solid #ddd;
}

.data-table td {
  padding: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: .4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.setting-option {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 32px;

}

