<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header-placeholder"></div>

    <div class="container">
        <div class="box">
            <form method="post" id="team_selection">
                <label for="year">Select yer:</label>
                <select id="year" name="year">
                    {% for year in years %}
                        <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>

                <label for="team">Select team:</label>
                <select id="team" name="team">
                    {% for team in teams %}
                        <option value="{{ team }}" {% if team == selected_team %}selected{% endif %}>{{ team }}</option>
                    {% endfor %}
                </select>

                <button id="button" type="submit">Go</button>
            </form>
        </div>
        <div class="box">
            <p>Made by Cameron Garvey - github.com/camerongarvey</p>
        </div>
    </div>

    <script>
        fetch('/header')
          .then(response => response.text())
          .then(data => {
            document.getElementById('header-placeholder').innerHTML = data;
          });
      </script>
</body>
</html>
